@* @page ----> generacion por defecto razor
@model MvcCadeteria.Views.HelloWorld.Index
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<div>
    
</div> *@
@{
    ViewData["Title"] = "Lista de Cadetes";
}

<h2>Lista de Cadetes</h2>

<p>Hello from our View Template!</p>